@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    font-family: 'Figtree', system-ui, sans-serif;
    font-display: swap;
    scroll-behavior: smooth;
    min-height: 100vh;
  }
}

.slick-slide > div {
  margin: 0 10px 0;
}

.slick-track {
  display: flex;
}

.slick-list {
  margin: 0 -10px;
  height: 100%;
}

.slick-arrow {
  display: none;
}
